div{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin-bottom: 2rem;
}

/*   box-shadow: x-versatz y-versatz weichzeichner zoom frabe inset   */

#test01 {
    box-shadow: 5px 5px violet;
}

#test02 {
    box-shadow: 5px 5px 20px violet;
}

#test03 {
    box-shadow: 5px 5px 30px 10px violet;
}

#test04 {
    box-shadow: 0 0 20px 10px violet inset;
}

#test05 {
    box-shadow: 0 0 20px 10px violet inset;
}

#test05 {
    box-shadow: 0 0 20px 10px pink inset, 5px 5px 30px 10px violet;
}
