.container {
    background-color: grey;
}

p{
    background-color: red;
}
img{
    width: 200px;
    height: 200px;
    float: right;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}